

#rectangle_14 {
	top: 0px;
	left: 0px;
	width: 425px;
	height: 767.77px;
}


#email_4 {
	top: 0px;
	left: 0px;
	width: 425px;
	height: 768px;
}


#logo_3 {
	top: 25px;
	left: 27px;
	width: 173px;
	height: 25px;
}



/* Add your custom CSS here */
/* LOGIN */
.button-masuk {
	background-color: #153D77 !important;
	box-shadow: #153D77;
	margin-top: 30px;
	
   }
   
   .login {
	   height: 100vh;
	   display: flex;
	   flex-direction: column;
	   background-color: #F2F6FC;
	   
   }
   .login-left {
	   background-image: url('../img/Work2.jpg');
	   height: 200px;
   
   }
   
   
   .login-left{
   
	   background-size: cover;
	   
   }
   
   .login-left, .login-right .inputan {
	   display: flex;
	   justify-content: center;
	   align-items: center;
   }
   
   .login-right{
	   margin: 50px;
	   margin-top: 160px;
	   
   }
   .login-right .copy{
	   color: black;
	   text-align: left;
	   align-items: left;
	   
   }
   
   .login-right .form{
	  margin-top: 30px;
   }
   @media screen and (min-width :900px){
	   .login {
		   flex-direction: row;
		   height: 100vh;
	   }
	   .login-left,
	   .login-right .inputan {
		   display: flex;
		   width: 50%;
		   height: auto;
	   }
   }
